{% extends 'base.html.twig' %}

{% block title %}Features index{% endblock %}

{% block body %}
    <h1>Features index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Icon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feature in features %}
            <tr>
                <td>{{ feature.id }}</td>
                <td>{{ feature.titre }}</td>
                <td>{{ feature.description }}</td>
                <td>{{ feature.icon }}</td>
                <td>
                    <a href="{{ path('features_show', {'id': feature.id}) }}">show</a>
                    <a href="{{ path('features_edit', {'id': feature.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('features_new') }}">Create new</a>
{% endblock %}
