{% extends 'base.html.twig' %}

{% block title %}Chef{% endblock %}

{% block body %}
    <h1>Chef</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chef.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chef.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ chef.prenom }}</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ chef.poste }}</td>
            </tr>
            <tr>
                <th>Photos</th>
                <td>{{ chef.photos }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ chef.facebook }}</td>
            </tr>
            <tr>
                <th>Instagram</th>
                <td>{{ chef.instagram }}</td>
            </tr>
            <tr>
                <th>Twitter</th>
                <td>{{ chef.twitter }}</td>
            </tr>
            <tr>
                <th>Linkedin</th>
                <td>{{ chef.linkedin }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chef_index') }}">back to list</a>

    <a href="{{ path('chef_edit', {'id': chef.id}) }}">edit</a>

    {{ include('chef/_delete_form.html.twig') }}
{% endblock %}
